{% extends "layout.html"%}
{% load static %}
{% block title %}My Project{% endblock %}
<body>
    <main>
    {% block head %}
        <div class="head">
            <h1>Project</h1>
        </div>
    {% endblock %}
    {% block content %}
        <div class="itemGroup">
        {% for i in pro %}
            <div class="item">
                <!-- โปรเจค id และ ชื่อ -->
                <div>{{i.id}} {{i.name}}</div>

                <!-- วันเริ่ม และ วันกำหนดส่งโปรเจค -->
                <div>{{i.start_date}} - {{i.due_date}}</div>

                <div class="action">
                    <!-- กำหนด path ให้ถูกต้อง -->
                    <a href="{%url 'projectdetailpage' i.id %}" class="edit btn">แก้ไข</a>
                    
                    <!-- ถ้า code มันแจ้งเตือนอะไรก็ปล่อยไปนะครับไม่มีผลอะไร  -->
                    <button type="submit" onclick="deleteProject({{i.id}},'{{csrf_token}}')" class="delete">Delete</button>
                </div>

            </div>
            {% endfor %}
            
        </div>
        {% endblock %}
    </main>
</body>
{% block script %}
    <script src="{% static 'project.js' %}"> </script>
{% endblock %}
</html>